 

    /* Responsividade: Carrossel */
    @media (max-width: 767px) {
        .carousel-caption {
            position: static;
            background: rgba(255, 255, 255, 0.9);
            color: #000;
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 0.8rem; /* menor título */
        }

        
    }